@import "../../styles/vars.scss";
@import "../../styles/mixins.scss";

.intro__main {
    position: relative;
    margin-bottom: 103px;
    padding: 30px 20px 95px;
    background-color: $brightColor;
    border-radius: 5px;
}

.intro__explanation {
    margin-bottom: 25px;
    text-align: center;
    @include font(25px, 30px, $questionTitleColor);
}

.intro__title {
    width: 100%;
    max-width: 630px;
    margin: 0 auto 15px;
    text-align: center;
    @include font(45px, 45px, $darkTextColor);
    font-weight: 900;
}

.intro__subtitle {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
    @include font(20px, 28px, $subtitleColor);
}

.intro__list {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.intro__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 305px;
}

.intro__item-number {
    margin-bottom: 10px;
    @include font(75px, 75px, $progressBarColor);
    font-weight: 900;
}

.intro__item-desc {
    text-align: center;
    @include font(19px, 25px, $subtitleColor);
}